<p style="color: green"><%= notice %></p>

<h2>Public Recipes</h2>

<div>
  <% @public_recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe) do %>
      <div>
        <h3><%= recipe.title %></h3>
        <p>By: <%= recipe.user.name %></p>
        <p>Total food items: <%= recipe.recipe_food.quantity %></p>
        <p>Total price: $<%= recipe.food.price %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
