<p style="color: green"><%= notice %></p>

<h2><%= @recipe.name %></h2>
<p>Preparation time: <%= @recipe.preparation_time %> hour(s)</p>
<p>Cooking time: <%= @recipe.cooking_time %> hour(s)</p>
<p>Description: <%= @recipe.description %></p>

<% if @recipe.is_public? %>
  <p>This recipe is public</p>
<% else %>
  <p>This recipe is private</p>
<% end %>

<%= button_to 'Toggle Public/Private', toggle_public_recipe_path(@recipe), method: :patch %>

<%= button_to 'Generate Shopping List' %>
<%= button_to 'Add Ingredient' %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Delete this recipe", @recipe, method: :delete %>
</div>
