<section class="content">
  <h2><%= @recipe.name %></h2>
  <article class="recipe">
    <div class="flex-content">
      <p>Preparation time: <%= @recipe.preparation_time %> hour(s)</p>

      <% if current_user == @recipe.user %>
        <div class="toggle">
          <% if @recipe.is_public? %>
            <p>Public</p>
          <% else %>
            <p>Private</p>
          <% end %>

          <%= button_to toggle_public_recipe_path(@recipe), method: :patch, class: "switch" do %>
            <%= check_box_tag 'is_public', '1', @recipe.is_public, class: 'checkbox' %>
            <span class="slider round"></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <p>Cooking time: <%= @recipe.cooking_time %> hour(s)</p>
    <p>Description: <%= @recipe.description %></p>
  </article>

  <div class="flex-content">
    <%= button_to 'Generate Shopping List', shopping_list_path(@shopping_list), class: "btn" %>
    <% if current_user == @recipe.user %>
      <%= link_to 'Add Ingredient', recipe_recipe_foods_path(@recipe), class: "btn" %>
    <% end %>
  </div>

  <table class="recipe-table">
    <thead class="table-head">
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td><%= number_to_currency(recipe_food.total_price) %></td>
          <td>
            <%= link_to 'Modify', edit_recipe_recipe_food_path(@recipe, recipe_food), class: 'table-btn' %> |
            <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, class: 'table-btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="flex-content">
    <%= link_to "Back to recipes", recipes_path, class: "btn" %>

    <% if current_user == @recipe.user %>
      <%= button_to "Delete this recipe", @recipe, method: :delete, class: "btn" %>
    <% end %>
  </div>
</section>
