<h1>Editing recipe food</h1>

<%= form_with(model: [@recipe, @recipe_food], local: true) do |f| %>
  <div class="field">
    <%= f.label :food_name %>
    <%= f.text_field :food_name, value: @recipe_food.food.name %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, value: @recipe_food.quantity %>
  </div>

  <div class="field">
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit, value: @recipe_food.food.measurement_unit %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, value: @recipe_food.food.price %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

