<h1>Recipe Foods for <%= @recipe.name %></h1>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= number_to_currency(recipe_food.total_price) %></td>
        <td>
          <%= link_to 'Modify', edit_recipe_food_path(recipe_food) %> |
          <%= link_to 'Remove', recipe_food_path(recipe_food), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Ingredient', new_recipe_food_path(recipe_id: @recipe.id) %>