<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to 'Recipe App', root_path, class: 'logo' %>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Public Recipes', public_recipes_path %>
          <%= link_to 'My Recipes', recipes_path %>
          <%= link_to 'New Recipe', new_recipe_path %>
          <%= link_to 'Foods', foods_path %>
          <%= link_to 'Shopping List', shopping_list_path %>
        <% else %>
          <%= link_to 'Public Recipes', public_recipes_path %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Profile', edit_user_registration_path %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path %>
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </div>
    </nav>
    
    <% if alert %>
      <p style="color: red"><%= alert %></p>
    <% end %>
    <% if notice %>
      <p style="color: green"><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
